h1{

    color: navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.end{

    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(12, 11, 11);
}